<div class="md:flex hidden justify-between">
    <ol class="md:flex justify-between space-x-5 font-semibold">
        <li class="text-gray-500 hover:text-black hover:bg-blue-400 hover:p-1 hover:w-[60px] hover:rounded-md hover:pl-3"><a href="#">Login</a></li>
        <li class="text-gray-500 hover:text-black hover:bg-blue-400 hover:p-1 hover:w-[60px] hover:rounded-md hover:pl-1"><a href="#">Signup</a></li>
    </ol>
</div>