---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div >
		<div  class=" dark:bg-black bg-white h-screen mx-auto place-content-center place-items-center p-5 ">
			<div  >
				<p class="dark:text-white text-black text-3xl">about</p>
			</div>
		</div>
	</div>
	
</Layout>


